@use "../presets" as *;

@mixin unlist($m: 0, $p: 0) {
  margin: $m;
  padding: $p;

  list-style: none;
}

@mixin border-style {
  border-color: $color-green-light;
  border-radius: 15px 0px 15px 0px;
}

@mixin border-style-stand {
  background-color: rgba($color-white, 0.893);
  color: $color-green-light;
  border-color: $color-green-light;
  border-radius: 15px 0px 15px 0px;
}

@mixin box-shadow {
  box-shadow: -3px 3px 20px -10px darken($color-gray-dark, 40%);
}
