@use "../../presets" as *;
@use "../../mixins" as *;
.slides {
  position: absolute;
  height: 100vh;
  width: 100%;
  z-index: -1;
  padding: 0px;
  margin: 0px 0px 20px 0px;
  list-style-type: none;
  top: 0;
  left: 0;
}

.slide {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 1;
  transition: opacity 1s;

  font-size: 40px;
  padding: 40px;
  box-sizing: border-box;
  background: $color-green-dark;
  color: $color-white;

  &:nth-of-type(1) {
    background-image: url(../img/img1.jpg);
    background-position: center;
  }

  &:nth-of-type(2) {
    background-image: url(../img/img2.jpg);
    background-size: cover;

  }

  &:nth-of-type(3) {
    background-image: url(../img/img3.jpg);
    background-size: cover;
  }

  &:nth-of-type(4) {
    background-image: url(../img/img4.jpg);
    background-size: cover;
  }

  &:nth-of-type(5) {
    background-image: url(../img/img5.webp);
    background-size: cover;
  }
}

.active {
  opacity: 1;
  z-index: 2;
}
